In [1]:
import pandas as pd

In [4]:
csvPath = "../Resources/video_game.csv"

In [6]:
game_df = pd.read_csv(csvPath)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
totalPlayers = game_df["SN"].count()
totalPlayers

780

In [27]:
#Purchasing Analysis

uniqueItems = game_df["Item Name"].nunique()
print(f"Number of unique items: {uniqueItems}")
avgPrice = game_df["Price"].mean()
print(f"Average purchase price: ${avgPrice}")
revenue = game_df["Price"].sum()
print(f"Total revenue: ${revenue}")

Number of unique items: 179
Average purchase price: 3.050987179487176
Total revenue: 2379.77

In [31]:
#Gender Demographics

genderCount = game_df["Gender"].value_counts()
genderPerc = genderCount/totalPlayers*100

genderCount
genderPerc

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [37]:
malePurchases_df = game_df.loc[game_df["Gender"]=="Male",:]
totalMales = malePurchases_df["SN"].count()
malePurchases = malePurchases_df["Item Name"].count()
avgMalePrice = malePurchases_df["Price"].mean()
totalMalePrice = malePurchases_df["Price"].sum()
avgPricePerMale = totalMalePrice/totalMales * 100

print(f"Purchase Count: {malePurchases}")
print(f"Average Purchase Price: {avgMalePrice}")
print(f"Total Purchase Value: {totalMalePrice}")
print(f"Average Purchase per Person: {avgPricePerMale}")

Purchase Count: 652
Average Purchase Price: 3.0178527607361953
Total Purchase Value: 1967.64
Average Purchase per Person: 301.7852760736197